<div class="home">

    <div class="hero">
        <div class="hero__info d-flex flex-column align-items-center justify-content-center">
            <div class="animated fadeInUp text-center">
                <h1 i18n>em breve...</h1>
                <h3>@shiga.photos</h3>
            </div>
        </div>
    </div>

    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="info--imagem">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="info--text">
                        <h3>Exercitation nisi dolor ullamco sunt aliqua dolore consectetur tempor et culpa ipsum.</h3>
                        <p class="text-justify">Ea ullamco amet tempor est sunt laborum ex Lorem ea incididunt laboris. Cillum cillum esse
                            duis adipisicing ipsum sit anim esse dolor cupidatat minim anim. Laboris duis pariatur
                            commodo laborum. Fugiat elit voluptate laborum officia consequat eu aute exercitation est
                            velit labore aliquip. Aute proident Lorem eu commodo dolore incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>